.destination{
    display: flex;
    background-color: #F4F4F4;
    margin:10px 0px;
}

.destination-img{
    min-height: 450px;
    max-height: 450px;
    max-width: 600px;
    min-width: 600px;
}

.destination-content{
    padding: 20px;
}



.destination-content .content p{
    text-align: justify;
}